<!doctype html>
{% load static %}
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <title>Pet Finder</title>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <img src="https://www.pinterest.com/pin/649151733798069023/">


    <div id="leftMenu">
        <a href="javscript:void(0)" class="btn-area" onclick="closeBtn()">×</a>
        <div class="mainNav">
            <a href="/">home</a>
            <a href="/register">Sign Up</a>
        </div>
    </div>
    <span onclick="openBtn()">☰ Menu</span>
    
    <div class="content">
        <div class="box">
            <table border="1" style="color:white">
                <tr> <th>Owner Name</th> <th>Pet Name</th> <th>Pet Type</th> <th>Email</th> <th>City</th> </tr>
                {% for user in users %}
                <tr>
                <td>
                {{ user.OwnerName }}
                </td>
                <td>
                {{ user.PetName }}
                </td>
                <td>
                {{ user.PetType}}
                </td>
                <td>
                {{ user.Email }}
                </td>
                <td>
                {{ user.City }}
                </td>
                
                </tr>
                {% endfor %}
               </table>
        </div>
    </div>
    {% csrf_token %}
    {{form.as_p}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function openBtn()
        {
            document.getElementById("leftMenu").style.width = "250px";
        }

        function closeBtn()
        {
            document.getElementById("leftMenu").style.width = "0";
        }
    </script>
</body>
</html>